<head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <title th:text="${title}"></title>
</head>

<header th:fragment="header">
    <div class="container justify-content-around" style="font-size: xxx-large; color: white">
        <div class="row justify-content-end">
            <div class="col-3">
                Signati
                <img class="mb-3" src="feather_white.png" alt="" style="width:50px;height:50px;">
            </div>
            <div class="col-6"></div>
            <div class="col-3 pl-5">
                <button class="btn btn-primary" th:onclick="'window.location.href=\'/new\''">Nova Petição</button>
                <button class="btn btn-primary" th:onclick="'window.location.href=\'/home\''">Home</button>
            </div>
        </div>
    </div>
</header>

<!--Exibir Petição na Home-->
<!--
<div class="row" th:fragment="petition">
    <div class="container mt-5 mx-5 p-5" style="background:rgba(51, 170, 255, 0.25);">
        <div class="row justify-content-end">
            <div class="col-2">
                <img class="mb-3" src="feather_black.png" alt="" style="width:50px;height:50px;">
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-10" style=" font-size: x-large;">Título</div>
            <div class="col-2">
                000
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-2">
                <button class="btn btn-primary">Ver</button>
            </div>
        </div>
    </div>
</div>-->
