<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::head('Home')}">
</head>

<body style="background-color: black">

    <header th:replace="~{fragments :: header}">
    </header>

    <div class="container p-5" style="background-color: white">
        <div class="row justify-content-around" style="font-size: xxx-large">
            Petições
        </div>

        <div class="row" th:each="petition : ${petitions}">
            <div class="container mt-5 mx-5 p-5" style="background:rgba(51, 170, 255, 0.25);">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <img class="mb-3" th:src="@{/images/feather_black.png}" alt="" style="width:50px;height:50px;">
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-10" style=" font-size: x-large;">
                        <span th:text="${petition.title}">
                            Título
                        </span>
                    </div>
                    <div class="col-2">
                        <span th:text="${#lists.size(petition.signatures)}">
                            000
                        </span>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-2">
                        <a th:href="@{/petitions/{id}(id=${petition.id})}"><button class="btn btn-primary" >Ver</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>