<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::head('Home')}">
</head>

<body style="background-color: black">

    <header th:replace="~{fragments :: header}">
    </header>

    <div class="alert alert-dismissible fade show" role="alert" th:styleappend="${(param.error == null || param.message == null) ? 'display: none;' : ''}" th:classappend="${(param.error != null && param.error) ? 'alert-warning' : 'alert-success'}">
        <span th:text="${param.message != null ? param.message : ''}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container p-5" style="background-color: white">
        <div class="row justify-content-around" style="font-size: xxx-large">
            Petições
        </div>

        <div class="row" th:each="petition : ${petitions}">
            <div class="container mt-5 mx-5 pb-5 pl-5" style="background:rgba(51, 170, 255, 0.25);">
                <div class="row justify-content-end">
                    <a th:href="@{/petitions/{id}/edit(id=${petition.id})}"><button class="btn btn-primary float-right m-1"><i class='fas fa-pencil-alt'></i></button></a>
                </div>
                <div class="row justify-content-end">
                    <div class="col-2">
                        <img class="mb-3" th:src="@{/images/feather_black.png}" alt="" style="width:50px;height:50px;">
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-10" style=" font-size: x-large;">
                        <span th:text="${petition.title}">
                            Título
                        </span>
                    </div>
                    <div class="col-2">
                        <span th:text="${#lists.size(petition.signatures)}">
                            000
                        </span>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-2">
                        <a th:href="@{/petitions/{id}(id=${petition.id})}"><button class="btn btn-primary" >Ver</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>