<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::head('Nova Petição')}">
</head>

<!--<head>
    &lt;!&ndash; Required meta tags &ndash;&gt;
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    &lt;!&ndash; Bootstrap CSS &ndash;&gt;
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <title></title>
</head>-->

<body style="background-color: black">

<header th:replace="~{fragmentos :: header}">
</header>
<!--<header>
    <div class="container justify-content-around" style="font-size: xxx-large; color: white">
        <div class="row justify-content-end">
            <div class="col-3">
                Signati
                <img class="mb-3" src="feather_white.png" alt="" style="width:50px;height:50px;">
            </div>
            <div class="col-6"></div>
            <div class="col-3 pl-5">
                <button class="btn btn-primary">Nova Petição</button>
                <button class="btn btn-primary">Home</button>
            </div>
        </div>
    </div>
</header>-->

<div class="container p-5" style="background-color: white">
    <div class="row justify-content-around" style="font-size: xxx-large">
        Nova Petição
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <form th:object="${PetitionPostDTO}" th:action="${action}" method="POST">
                <input type="text" class="form-control my-5" placeholder="Título" required th:field="*{title}">
                <textarea class="form-control my-5" rows="10" style="height:100%;" placeholder="Descrição" required th:field="*{content}"></textarea>
                <input type="email" class="form-control my-5" placeholder="Email" required th:field="*{email}">
                <div class="col text-center">
                    <a th:href="@{/petitions/{id}(id=${petition.id})}"><button class="btn btn-primary px-5" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>