<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::head('Petição')}">
</head>

<body style="background-color: black">

<header th:replace="~{fragments :: header}">
</header>

<div class="container p-5" style="background-color: white">
    <div class="row justify-content-around" style="font-size: xxx-large">
        Petição
    </div>

    <div class="row d-flex">
        <div class="container mt-5 mx-5 p-5 " style="background:rgba(51, 170, 255, 0.25);">
            <div class="row justify-content-end">
                <div class="col-10" style=" font-size: x-large;">
                        <span th:text="${petition.title}">
                            Título
                        </span>
                </div>
                <div class="col-2">
                    <img class="mb-3" th:src="@{/images/feather_black.png}" alt="" style="width:50px;height:50px;">
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-10" style=" font-size: large;">
                    <span th:text="${petition.content}">
                        Conteúdo
                    </span>
                </div>
                <div class="col-2">
                    <span th:text="${#lists.size(petition.signatures)}">
                        000
                    </span>
                    <br><br><br>
                    <span th:text="${petition.author}">
                        Autor
                    </span>
                </div>

            </div>
            <div class="row justify-content-end mt-5">
                <div class="col-12">
                    <form th:object="${postSignatureDTO}" th:action="@{/petitions/{id}/signature(id=${petition.id})}" method="POST">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Email" required th:field="*{author}">
                            <div class="input-group-append">
                                <button class="btn btn-primary px-5" type="submit">Assinar</button>
                            </div>
                        </div>
                    </form>
                    <ul >
                        <li th:each="signature : ${petition.signatures}" th:text="${signature.author}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>